@charset "ISO-8859-1";

table {
	border-collapse: separate;
	border-spacing: 0 15px;
}

header {
	background-color: #ebf1f7;
	color: black;
	padding: 1px;
	border: 1px solid #b6d9f1;
	margin-bottom: 10px;
}

footer {
	background-color: #ebf1f7;
	color: black;
	text-align: center;
	border: 1px solid #b6d9f1;
	height: auto;
	position: fixed;
	width: 98%;
	bottom: 50px;
}

.required {
	color: red;
}

.btn1 {
	background-color: silver;
	float: right;
	margin: 2px;
	border: 1px solid blue;
}

.t1 td:first-child {
	padding-right: 200px;
}

.t1 td:last-child {
	padding-left: 5px;
}

body {
	background-color: #f5f8fb;
	color: black;
}